html {
    height: 100%;
}

body {
    height: 100%;
    background: url(../img/background.png) repeat;
    font-family: 'fira_sansbook';
    color: #4a545d;
}

/*футер к низу*/
.wrapper{
    position: relative;
	min-height: 100%;
	min-width: 970px; /*мин ширина*/
	height: auto!important;
	overflow: hidden;
}
.wrapper:after {
	content: **;
	height: 80px;
	display: block;
}
.page-footer{
    height: 80px;
	margin-top:80px;
}
.page {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.page__region {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.page__header {
    position: relative;
    min-width: 960px;
    height: 119px;
    margin-bottom: 39px;
    background: #eff3f7 url(../img/line.png) bottom center no-repeat;
}
.header-logo-link {
position: absolute;
left: -9999px;
}

.page__header__logo {
    position: absolute;
    top: 38px;
    left: 0;
}
.logo {
    display: block;
    width: 243px;
    height: 42px;
    background: url(../img/logo.png) center no-repeat;
}
.logo:hover {
    background-image: url(../img/logo-active.png);
}
.page__header__socials {
    position: absolute;
    top: 38px;
    right: 0;
}
.{
position: absolute;
left: -9999px;
}

.page__body {
    width: 960px;
    margin: 0 auto;
}

/* основной контент */
.main-content {
    float: right;
    width: 650px;
}

/* левая колонка */
.sidebar_left {
    float: left;
    width: 250px;
}

.sidebar-block {
    margin-bottom: 24px;
    border-radius: 4px;
    overflow: hidden; /* чтобы работал border-radius с дочерними элементами */
}

.hidden {
display: none;
}

.ramka{
	width: 181px;
	height: 127px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #f3f8f0;
}
.site1{
	width: 181px;
	height: 127px;
	background: url(../img/site1.png);
}
.content-site{
	font-family: "Fira Sans";
	font-size: 15px;
	color: #4a545d;
}
.adress-site{
	font-family: "Fira Sans";
	font-size: 13px;
	font-style: italic;
	color: #3ba8c0;
	}
.site-active{
	width: 64px;
	height: 19px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #48cbe8;
}
.site2{
	width: 181px;
	height: 127px;
	background: url(../img/site2.png);
}
.site3{
	width: 182px;
	height: 128px;
	background: url(../img/site3.png);
}
.site4{
	width: 181px;
	height: 127px;
	background: url(../img/site4.png);
}
.add-img{
	width: 32px;
	height: 32px;
	background-color: #3ba8c0;
}
.add-site{
	width: 182px;
	height: 129px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(236,251,255,.64);
	background: url(../img/add-site.png);
}
.fon-widows{
	width: 649px;
	height: 840px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #eff3f7;
}
