.content-block__body--portfolio {
    padding: 0 20px 40px;
}
.portfolio__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.portfolio__list__item {
    float: left;
    width: 181px;
    height: 200px;
    margin-right: 32px;
    margin-bottom: 44px;
}
.portfolio__list__item:nth-child(3) {
    margin-right: 0;
}
.portfolio__item {
    position: relative;
    width: 181px;
    height: 127px;
    text-align: center;
    border: 2px solid #3ba8c0;
    border-radius: 3px;
}
.portfolio__item__url {
    text-decoration: none;
}
.portfolio__item__url:hover {
    text-decoration: underline;
}
.portfolio__item__url {
    display: block;
}
.portfolio__item__image-wrapper {
    width: 100%;
    height: 100%;
}
.portfolio__item__title-wrapper {
    position: absolute;
    z-index: -1;
    top: 52px;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}
.portfolio__add__text {
    width: 100%;
}
.portfolio__item__title {
    font-family: 'fira_sansbook';
    font-size: 12px;
    width: auto;
    padding: 0 5px;
    text-decoration: none;
    color: #fff;
    border: 2.5px solid #fff;
    border-radius: 5px;
}
.portfolio__item__image-wrapper:hover .portfolio__item__title-wrapper {
    z-index: 1;
}
.portfolio__item__image {
    width: 100%;
    height: 100%;
}
.portfolio__item__url {
    font-family: 'fira_sanslight_italic';
    font-size: 13px;
    line-height: 1em;
    margin-top: 1em;
    color: #3ba8c0;
}
.portfolio__item__description {
    font-family: 'fira_sanslight';
    font-size: 15px;
    line-height: 1.2em;
    margin-top: 1em;
}
.portfolio__add {
    font-family: 'fira_sanslight';
    font-size: 13px;
    line-height: 1.2;
    position: relative;
    display: block;
    color: #3ba8c0;
    border: 1px dashed #3ba8c0;
    border-radius: 5px;
    background: #edf8fc;
}
.portfolio__add__text {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    padding: 0 15px;
    text-align: center;
}
.portfolio__add__text:before {
    position: absolute;
    top: -64px;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 32px;
    height: 32px;
    margin: auto;
    content: '';
    background: url(../img/portfolio_add-project.png);
}
.portfolio__add:hover .portfolio__add__text {
    text-decoration: underline;
}

.portfolio__item__image-wrapper:after,
.portfolio__item__image-wrapper:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 127px;
    margin: auto;
    -webkit-transition: all .5s;
            transition: all .5s;
    opacity: 0;
}
.portfolio__item__image-wrapper:after {
    top: 0;
    left: 0;
    content: '\A';
    background: #016ca4;
}
.portfolio__item__image-wrapper:before {
    z-index: 1;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    background: #016ca4;
}
.portfolio__item__image-wrapper:hover:after,
.portfolio__item__image-wrapper:hover:before {
    opacity: .75;
}

/* Попап  "Добавление проекта" */
.modal-add-project {
    display: none;
}
.add-project__label {
    font-family: 'fira_sansregular';
    font-size: 17px;
}
.add-project__description {
    height: 111px;
}

.add-project__image {
    position: relative;
}
.add-project__image:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 52px;
    height: 41px;
    content: '';
    background: #48cbe8 url(../img/add-image.png) center no-repeat;
}
