.placeholder {
    font-family: 'fira_sanslight';
    font-size: 13px;
    color: #48cbe8;
}

::-webkit-input-placeholder {
    font-family: 'fira_sanslight';
    font-size: 13px;
    color: #48cbe8;
}

/* Firefox 18- */
:-moz-placeholder {
    font-family: 'fira_sanslight';
    font-size: 13px;
    color: #48cbe8;
}

/* Firefox 19+ */
::-moz-placeholder {
    font-family: 'fira_sanslight';
    font-size: 13px;
    color: #48cbe8;
}

:-ms-input-placeholder {
    font-family: 'fira_sanslight';
    font-size: 13px;
    color: #48cbe8;
}
